body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    margin: 0;
    padding:0 ;
}

nav {
    position: relative;
}

header {
    background: linear-gradient(90deg, green, white, red);
    color: black;
    padding: 5px;
    font-style: italic;
  }

#buttonLink {
    flex-direction: row;
    justify-content: right;
    text-align: right;
    font-size: 1.5em;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    color: black;
    border: none;
    cursor: pointer;
  }

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
}

div.custom-border {
    border: 5px solid #080808; 
    padding: 15px; 
    border-radius: 8px;
    margin: 20px auto; 
    background-color: rgba(0, 0, 0, 0.5); 
}


div.padding-color {
    padding: 15px; 
    background-color: white; 
    border-radius: 8px; 
    
}

.bio {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
}

.bio img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.bio p {
    font-size: 1.2em;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 20px; 
}




@media screen and (min-width: 768px) {
    .container {
        width: 70%;
    }

    .bio img {
        width: 200px;
        height: 200px;
    }

    .bio p {
        font-size: 1.4em; 
    }
}


@media screen and (min-width: 1200px) {
    .container {
        width: 60%;
    }
}

.h3-with-bg {
    justify-content: flex-end;
    background-image: url('../images/bg.jpg'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 50px; 
    text-align: right; 
    color: white; /
}

