 /* #Hotel {
    display: flex;
     align-items: center;
     justify-content: right;
     /* padding: 20px; */
     /* text-align: justify;
     width: 50%;
     height: 5%;
}  */

/* #City {
    height: 5%;
    width: 40%;
} */

/* #Places { 
    display: flex;
    height: 5%;
    justify-content: left;
} */
 /* Main {
    display: flex;
 } */
* {
    padding-left: 1vmin;
    padding-right: 1vmin;
    
}

#City,
#Places {
    display: flex;
     /* justify-content: center; */
     /* padding: 20px; */
     text-align: justify;
     flex-direction: column;
     font-size: xx-large;
}

#Hotel,
#Restaurants {
    display: flex;
   /* justify-content: left; */
     /* padding: 20px; */
     text-align: justify;
     flex-direction: column;
     font-size: xx-large;

}

#Journal {
    display: flex;
    justify-content: right;
      /* padding: 20px; */
      text-align: justify;
      flex-direction: column;
      /* width: 50%; */
      font-size: xx-large;
      /* height: 60%; */
}

#City input {
    height: 5vmin;
    width: 20vmin;
    /* height: 350px; */
}

#Places  {
    height: 78vmin;
    width: 20vmin;
}

#Restaurants input {
    height: 75vmin;
    width: 20vmin;
}

#Journal input {
    height: 83vmin;
    width: 50vmin;
}

#Hotel input {
    height: 5vmin;
    width: 20vmin;
}