body {
    position: relative;
    margin: 0;
    padding: 10px;
    background: linear-gradient(90deg, green, white, red);
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
  }
  nav {
    position: relative;
    font-family: 'Times New Roman', Times, serif !important;
  }
  
  header {
    background: linear-gradient(90deg, green, white, red);
    color: black;
    padding: 5px;
    font-style: italic;
  }

  #buttonLink {
    flex-direction: row;
    justify-content: right;
    text-align: right;
    font-size: 1.5em;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    color: black;
    border: none;
    cursor: pointer;
  }

  main {
    display:flex;
  }

  h1 {
    text-align: center;
    padding:5px;
    font-size: 3em;
  }
  

  #imgR {
    float: right;
    width: 30%;
    padding: 20px;
    padding-top: 0;
    padding-left: 40px;
  
  }
  
  #imgL {
    float: left;
    width: 30%;
    padding: 20px;
    padding-top: 0;
    padding-right: 40px;
  }
  
  strong {
    font-size: 3vw;
  }

   .RomeP,
   .NaplesP,
   .MilanP {
     display: flex;
     align-items: center;
     justify-content: right;
     padding: 20px;
     text-align: justify;
     font-size: 1.5vw;
    border-bottom: 1px solid black;
   }
   
   .ComoP,
   .VeniceP {
   display: flex;
   align-items: center;
   justify-content: left;
     padding: 20px;
     text-align: justify;
     font-size: 1.55vw;
     border-bottom: 1px solid black;
   }
   
   footer { 
    text-align: center;
   }

   @media screen and (max-width: 760px) {
    p {
      font-size: large;
    }
    strong {
      font-size: larger;
    }
   }