body {
    position: relative;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, green, white, red);
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    padding: 5px;
}

#buttonLink {
    flex-direction: row;
    float: inline-end;
    text-align: right;
    font-size: 1.5em;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    color: black;
    border: none;
    cursor: pointer;
    width: 33%;
}

header {
    background: linear-gradient(90deg, green, white, red);
    color: black;
    padding: 5px;
    font-style: italic;
    /* text-decoration: underline; */
}

  
h1 {
    text-align: center;
    padding:5px;
    font-size: 3em;
}

main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* height: 100vmin; */
    width: 100vw; 
}

footer {
    text-align: center;
    margin: 10px;
    font-style: italic;
    text-decoration: underline;
}

#cityWindow {
    width: 8em;
    height: 10em;
    background-image: url(../Photos/Rome.jpg); 
    background-size: cover;
    align-content: end; */
}

#activities,
#restaurants,
#places,
#journal
/* #activities2 */
 {
    background-color: rgba(0, 0, 0, 0.5);
    height: 30em;
    width: 33%;
    border:.2em;
    border-style: solid;
    border-color: black;
}

#activitiesList
/* #activitiesList2  */
{
    list-style-type: none;
    padding: 0;
    background-color: white;
}

#activitiesList li
/* #activitiesList2 li */
{
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color:  #001b44;
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
}

#activities li button
/* #activities2 li button */
{
  float: right;
  border: none;
  height: 40px;
  cursor: pointer;
  background-color: #ff7034;
  color: white;
  font-size: 1em;
}

#budget
/* #budget2 */
 {
    background-color: rgba(0, 0, 0, 0.5);
    height: 30em;
    width: 66%;
    border:.2em;
    border-style: solid;
    border-color: black;
}



#budgetList
/* #budgetList2  */
{
    list-style-type: none;
    padding: 0;
    background-color: white;
}

#budgetList li
/* #budgetList2 li */
 {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color:  #001b44;
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
}

#stack1 {
    display: flex;
    width: 98%;
}

#stack2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    width: 98%;
    
}

textarea {
    resize: none;
    height: 26em;
    width: 18em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    width: 100%;
}
#Save {
    width: 100%;
    background-color: gray;
    border-radius: 5%;
}

 
@media screen and (max-width: 760px) {
    input {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 990px) {
    label {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 485px) {
    input {
        font-size: 0.5em;
    }
}