body {
    position: relative;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, green, white, red);
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

#buttonLink {
    flex-direction: row;
    float: inline-end;
    text-align: right;
    font-size: 1.5em;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    color: black;
    border: none;
    cursor: pointer;
    width: 33%;
}

header {
    background: linear-gradient(90deg, green, white, red);
    color: black;
    padding: 5px;
    text-decoration: underline;
}

  
h1 {
    text-align: center;
    padding:5px;
    font-size: 3em;
}

main {
    display:flex;
    justify-content: center;
    height: 100vmin;
    width: 100vw; 
}

footer {
    text-align: center;
    margin: 10px;
    font-style: italic;
    text-decoration: underline;
}

#cityWindow {
    width: 8em;
    height: 10em;
    background-image: url(../Photos/Rome.jpg); 
    background-size: cover;
    align-content: end; */
}

#activities {
    background-color: crimson;
    height: 30em;
    width: 20em;
    border:.2em;
    border-style: solid;
    border-color: black;
}

#activitiesList{
    list-style-type: none;
    padding: 0;
    background-color: white;
}

#activitiesList li{
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color:  #001b44;
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
}

#activities li button{
  float: right;
  border: none;
  height: 40px;
  cursor: pointer;
  background-color: #ff7034;
  color: white;
  font-size: 1em;
}

#budget {
    background-color: crimson;
    height: 30em;
    width: 40em;
    border:.2em;
    border-style: solid;
    border-color: black;
}

#budgetList {
    list-style-type: none;
    padding: 0;
    background-color: white;
}

#budgetList li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color:  #001b44;
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
}