

body {
    position: relative;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, green, white, red);
    justify-content: center;
    align-items: center;
    
  }
  
  header {
    background: linear-gradient(90deg, green, white, red);
    color: black;
    padding: 5px;
    text-decoration: underline;
  }

  
  h1 {
    text-align: center;
    padding:5px;
    font-size: 3em;
  }

  main {
    display:flex;
    justify-content: center;
    height: 100vmin;
    width: 100vw; 
  }


  #Italy {
    background-image: url(../Img/ItalyOutline.jpg);
    width: 100vmin;
    height: 100vmin;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 50%;
    display:center;
    background-position: -10vmin 0;
  }

  button {
    position: absolute;
    border-radius: 50%;
  }

 /* button:hover { 
  color: white;
  background-color: black;
  transform: scale(0.9);
  transition: 1s;
  border-radius: 50%;
 } */

  #buttonLink {
    flex-direction: row;
    float: inline-end;
    text-align: right;
    font-size: 1.5em;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    color: black;
    border: none;
    cursor: pointer;
    width: 33%;
  }

  footer {
    text-align: center;
    margin: 10px;
    font-style: italic;
    text-decoration: underline;
  }

  #cityWindow {
    width: 8em;
    height: 10em;
    background-color: black; 
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
  }

  #have { 
    background-color: green;
  }

  #haveNot {
    background-color: red;
  }